.wrapper {
    height: 90vh;
    margin: auto;
    margin-top: 1%;
    display: grid;
    overflow-y: scroll;
    grid-template-rows: 1fr 1fr;
    border-radius: 5px;

    .hangman__infoContainer {
        height: 100%;

        .hangman__start {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .btn {
                margin: auto;
            }

            .title {
                text-align: center;
            }
        }

        .hangman__liveGame {
            height: 65%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-bottom: 1px solid lightgray;

            .btn {
                margin: auto;
            }

            .title {
                text-align: center;
            }
        }
    }

    .noLoggedIn {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .winloseMsg {
            text-align: center;
        }

        .loginRequest {
            text-align: center;
        }
    }

    .hangman__stats {

        display: flex;
        justify-content: center;
    }

    .winningInfo {
        text-align: center;
    }

    .table {
        border: 1px solid lightgray;
    }

    .hangman__game {
        height: 100%;
        padding: 5px;
        margin-top: -12%;
    }

    .gameInfo {
        text-align: center;
        font-size: 20px;

        #toot {
            font-size: 30px;
        }
    }

    .lowerWrapper {
        margin-top: 5%;
        display: grid;
        grid-template-columns: 1fr 0.65fr;

        #hangman {
            display: flex;
            justify-content: center;


            img {
                width: 85%;
            }
        }

        .letters {
            display: flex;
            justify-items: center;
            height: 50%;
            width: 100%;
            margin: auto;

            #letters {
                height: 100%;
                width: 95%;
                display: grid;
                grid-template-areas:
                    "q w e r t y u i o p"
                    ". a s d f g h j k l"
                    ". . z x c v b n m .";


                #buttonLetter {
                    border: none;
                    color: white;
                    background-color: #008CBA;
                    padding: 15% 15%;
                    border-radius: 0.4em;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    margin: 2% 4%;
                    cursor: pointer;
                    outline: 0;
                }

                #buttonLetter:hover {
                    background-color: #005e7e;
                }
            }
        }
    }
}

@media only screen and (max-width: 570px) {
    .letters {
        display: flex;
        flex-direction: column;
        justify-items: center;
        height: 100%;
        width: 100%;
        margin: auto;

        #letters {
            width: 100%;
            height: 100%;
        }
    }
}

@media only screen and (max-width: 360px) {
    .wrapper {
        height: 90vh;
        margin: auto;
        grid-column-gap: 1%;
        display: grid;
        grid-template-rows: 1fr 1fr;
    }
}