.games__container {

    .games__nav{
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border: 1px solid black;
    }
}