.simon__container {
    border-radius: 2%;
    margin: auto;
    height: 80vh;
    padding: 5px;
    display: grid;
    grid-template-rows: 0.2fr 0.01fr 1fr;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    padding: 1%;

    .simon__topHalf {
        width: 95%;
        margin: auto;
        border: 1px solid black;
        display: grid;
        grid-template-columns: 1fr 1fr;
        border: 1px solid lightgray;
        border-radius: 5px;
        margin-top: 1%;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

        .simon_settings {
            padding: 10px;
            display: flex;
            flex-direction: column;
            border-right: 1px solid white;

            .simon__titleBox {
                display: flex;
                flex-direction: row-reverse;
            }

            .simon__buttons {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin-left: 1%;

                .simon_leaderboard {
                    align-self: center;
                    justify-self: center;
                }
            }
        }

        .simon__title {
            width: 100%;
            text-align: center;
        }

        .simon__gameInfo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 5px;
            border-left: 1px solid white;


        }

        .simon__start {
            margin: 5px;
            cursor: pointer;
        }

        .simon__stop {
            margin: 5px;
            cursor: pointer;
        }

        .simon__soundToggle {
            float: right;

            grid-area: sound;
            cursor: pointer;
        }
    }

    .simon__turn {
        width: 95%;
        margin: auto;
        border: 1px solid lightgray;
        display: flex;
        justify-content: center;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

        .gameOverGuest {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    .simon__boxesContainer {
        width: 95%;
        margin: 0 auto;
        border: 1px solid lightgray;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;


        .simon_boxes {
            display: grid;
            grid-template-columns: 1fr 1fr;
            ;

            width: 50%;
            height: 93%;
            margin: auto;
            margin-top: 1%;
            grid-gap: 1%;
            justify-items: center;
            border-radius: 45%;
            box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
            overflow: hidden;

            .boxes_box {
                // border-radius: 10%;
                cursor: pointer;
                width: 100%;
                height: 100%;
            }

            .yellow {
                background-color: yellow;
            }

            .red {
                background-color: red;
            }

            .blue {
                background-color: blue;
            }

            .green {
                background-color: green;
            }
        }
    }
}

@media only screen and (max-width: 744px) {
    .simon__container {
        .simon__gameInfo {
            .gameinfo1 {
                .gameinfo2 {
                    h2 {
                        font-size: 12px;
                    }
                }
            }
        }

        .simon__boxesContainer {
            .simon_boxes {
                width: 80%;
                height: 60%;
                grid-gap: 1%;
                margin: 3% auto;

                .boxes_box {
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
}