.mainContainer{
    height: 100vh;
}
.login__Container {

    .navbarFather {
        border-bottom: 1px solid lightgray;

        .navbarContainer {
            width: 100%;

            .navbarContent {
                display: flex;
                justify-content: center;
                border-radius: 5px;

                .nav-link {
                    border: 1px solid lightgray;
                    border-radius: 5px;
                    margin: 5px;
                }
            }
        }
    }
}

.loginForm {
    width: 60%;
    padding: 2%;
    border-radius: 5px;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
}

.meter {
    display: none;
}
